@{
    ViewData["Title"] = "Our Beverages";
}

<h2>Beverages for you</h2>

<p>Come taste our products!</p>
<ul>
  <li>Espresso</li>
  <li>Chai</li>
  <li>Chai Latte</li>
  <li>Mocha</li>
  <li>Latte</li>
</ul>
